@charset "UTF-8";

@import url('http://fonts.googleapis.com/icon?family=Material+Icons');

@import "materialize";
@import "social";

/* Sticky footer */
body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
main {
	margin-top: 2%;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

a {
	color: inherit;
}

@media (min-width: $medium-screen-up) {
	nav .nav-wrapper {
		margin-left: 15%
	}
}
.nav-left-align {
	margin-left: 10rem;
}

.breadcrumb-nav {
	background-color: color("light-blue", "darken-2");
	height: 40px;
	line-height: 40px;
}

@media screen and (max-width: $small-screen) {
	#projects-widgets {
		display: inline-block;
		float: none !important;
	}
}

@media screen and (min-width: $small-screen-up) {
	.scroll-on-med-and-up {
		overflow: scroll;
		overflow-x: hidden;
		height: 700px;
	}
}
