
// Fonts
@import url('http://fonts.googleapis.com/icon?family=Material+Icons');

// Materialize
@import "materialize";

@import "social";

/* Sticky footer */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	margin-top: 2%;
	flex: 1 0 auto;
}

/* Align nav to certain position */
@media (min-width:993px) {
	nav .nav-wrapper {
		margin-left: 15%
	}
}
.nav-left-align {
	margin-left: 10rem;
}

a {
	color: inherit;
}
